* { 
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    background-color: #c1c1c1;
    background-image: url("img/tmp.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* Link Styles */
a {
    text-decoration: none;
    color: #efefef;
}
